@using ProyectoFinal_GarroRojasRosa.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="d-flex align-items-center gap-3">

    @if (SignInManager.IsSignedIn(User))
    {
        var usuario = await UserManager.GetUserAsync(User);

        <span class="text-white fw-bold">
            👤 @usuario?.Nombre @usuario?.Apellido
        </span>

        <a asp-controller="Account"
           asp-action="Logout"
           class="btn btn-outline-light btn-sm">

            Cerrar sesión

        </a>
    }
    else
    {
        <a asp-controller="Account"
           asp-action="Register"
           class="btn btn-success btn-sm">

            Registrarse

        </a>

        <a asp-controller="Account"
           asp-action="Login"
           class="btn btn-light btn-sm">

            Iniciar sesión

        </a>
    }

</div>