@model ProyectoFinal_GarroRojasRosa.Models.Curso

@{
    ViewData["Title"] = "Detalles del Curso";
}

<div class="card shadow">

    <div class="card-header bg-info text-white">
        <h3>📘 Detalles del Curso</h3>
    </div>

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">Código</dt>
            <dd class="col-sm-9">@Model.Codigo</dd>

            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>

            <dt class="col-sm-3">Créditos</dt>
            <dd class="col-sm-9">@Model.Creditos</dd>

            <dt class="col-sm-3">Estado</dt>

            <dd class="col-sm-9">

                @if (Model.Estado)
                {
                    <span class="badge bg-success">Activo</span>
                }
                else
                {
                    <span class="badge bg-danger">Inactivo</span>
                }

            </dd>

        </dl>

    </div>

    <div class="card-footer">

        <a asp-action="Edit"
           asp-route-id="@Model.IdCurso"
           class="btn btn-warning">

            Editar

        </a>

        <a asp-action="Index"
           class="btn btn-secondary">

            Regresar

        </a>

    </div>

</div>